@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased font-sans min-h-screen selection:bg-emerald-500 selection:text-white;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Print specific styles for POS receipts */
@media print {
  body * {
    visibility: hidden !important;
  }
  #printable-receipt, #printable-receipt * {
    visibility: visible !important;
  }
  #printable-receipt {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 15px !important;
    background: white !important;
    color: black !important;
    font-size: 12px !important;
  }
  @page {
    size: auto;
    margin: 0mm;
  }
}
